# Core functionality - changes here should be rare!
/src/app.py                   @Ashmitashahi
/src/backend/database.py      @Ashmitashahi
/src/backend/routers/auth.py  @Ashmitashahi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Ashmitashahi
